//----------------------------------------------------------------
//  Emojis
//----------------------------------------------------------------
.filtering {
    .emojis--item:not(.visible) {
        display: none;
    }

    .emojis--item {
        pointer-events: auto;
    }
}

.emojis {
    margin: 50px -16px 0;
}

.emojis--item {
    font-size: 80px;
    line-height: 1;
    pointer-events: none;

    position: relative;

    display: inline-block;

    padding: 0 16px;
    margin-bottom: 16px;
}

.copy--input {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: -100%;
    margin-top: -100%;
    opacity: 0;
}
