//----------------------------------------------------------------
//  Search
//----------------------------------------------------------------
.search {
    position: relative;

    &:after {
        position: absolute;
        top: 13px;
        right: 12px;

        display: block;

        width: 20px;
        height: 20px;

        content: '';
        pointer-events: none;

        background: url(_/images/search.svg) center no-repeat;
        background-size: contain;
    }
}

.search--input {
    font-size: 16px;
    line-height: 1.5;

    width: 100%;
    padding: 8px 36px 8px 12px;

    border: 3px solid #000;

    &:focus {
        outline: none;
        box-shadow: 0 2px 3px rgba(0,0,0,.3);
    }
}

.message {
    position: absolute;
    bottom: 0;
    margin-bottom: -24px;
    font-weight: 600;
    font-size: 13px;
}

.message--confirm {
  color: #00806a;
}

.message--click {
  color: #e88b24;
}
