//----------------------------------------------------------------
//  Layout
//----------------------------------------------------------------
* {
    font-family: 'Lato', sans-serif;
}

body {
    padding-top: 100px;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}

.hidden {
    opacity: 0;
}

.copy--input {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: -100%;
    margin-top: -100%;
    opacity: 0;
}
